NEXT_PUBLIC_ENVIRONMENT="local" // "rinkeby" | "mumbai" | "polygon"
REACT_APP_INFURA_PROJECT_ID="xxx"
REACT_APP_INFURA_API_KEY="xxxx"
NEXT_PUBLIC_MUMBAI="https://rpc-mumbai.matic.today";
NEXT_PUBLIC_POLYGON="https://polygon-rpc.com/"
