NEXT_PUBLIC_ENVIRONMENT="local" // "rinkeby" | "mumbai" | "polygon"
NEXT_PUBLIC_INFURA_PROJECT_ID="xxx"
NEXT_PUBLIC_MUMBAI="https://rpc-mumbai.matic.today";
NEXT_PUBLIC_POLYGON="https://polygon-rpc.com/"
